@charset "UTF-8";

.prod-list {
	list-style:none;
	margin:0;
	padding:0;
}
.prod-list li {
    position: relative;
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
}
.prod-list img {
	margin:0;
	padding:0;
	float:left;
	z-index:5;
}   
